#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install  \
		--sourcedir=debian/musikcube

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DENABLE_PCH=true \
		-DENABLE_PIPEWIRE=${ENABLE_PIPEWIRE}

override_dh_builddeb:
	dh_builddeb \
		--destdir=$(shell pwd)/deb
